<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static "todo.css" %}">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
         <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
          <!-- Fonts -->
         <link rel="dns-prefetch" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="css/style.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <title>Tommy's To-Do List App</title>
    </head>

    <body>
        <script src="{% static "script.js" %}"></script>
     
        <!-- nav bar-->
        <nav class="navbar navbar-expand-lg navbar-light navbar-laravel">
            <div class="container">
                <a class="navbar-brand" href="/">ToDo</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
        
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
   
                        </li>
                    </ul>
        
                </div>
            </div>
        </nav>

        <!-- card -->
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">To Do List</div>
                        <div class="card-body">

        <div id = "todo">
            <form>
            <label class="radio-inline">
            <input type="radio" id = "all" name="filter" value = "all" checked>All
            </label>
            <label class="radio-inline">
            <input type="radio" id = "completed" name="filter" value = "completed">Completed
        </label>
        <label class="radio-inline">
            <input type="radio" id = "pending" name="filter" value = "pending">Pending
        </label>
     </form>
 

            <ul class="todos" >
                
                {% for toDo in toDos %}
                <div>
                    <button class = "edit btn btn-light" id = "allEdit">📝</button><button class="delete btn btn-light" id= "allDelete">❌</button> <button class="complete btn btn-light" id="allComplete">✔️</button> 
                    <text class ="toDoText" id="all">{% if toDo.completed == True %}<strike>{{toDo.content}}</strike>{% else %}{{toDo.content}}{% endif %}</text>
                </div>
                    
               
                <div>
                    {% if toDo.completed == True %}
                    <button class = "edit bbtn btn-light" id = "completedEdit" hidden>📝</button><button class="delete btn btn-light" id= "completedDelete" hidden>❌</button> <button class="complete btn btn-light" id="completedComplete"hidden>✔️</button> 
                    <text class = "toDoText" id = "completedToDo" hidden><strike>{{toDo.content}}{% endif %}</strike></text>                 
                </div>
                <div>
                    {% if toDo.completed == False %}
                    <button class = "edit btn btn btn-light" id = "pendingEdit" hidden>📝</button><button class="delete btn btn-light" id= "pendingDelete" hidden>❌</button> <button class="complete btn btn-light" id="pendingComplete" hidden>✔️</button> 
                    <text class = "toDoText" id = "pendingToDo" hidden>{{toDo.content}}{% endif %}</text>
                </div>
                {% endfor %}
            </ul>


         

            <form action="{% url 'addNote' %}"  method="post" id="toDoForm" name="toDoForm">
                {% csrf_token %}
            <input type="text"  placeholder="Add To-Do" name="toDoContent" id="toDoContent">
            
            
            <div class="input-group">
              <button type="submit" class="save btn btn-primary" style="margin-top: 10px;">Create</button>
            </div>
       
        </form>

        </div>
    
        <form action="{% url 'edit' %}" method="post" name="editForm">
            {% csrf_token %}
            <input type="hidden" name="editInput">
        </form>

        <form action="{% url 'remove' %}" method="post" name="deleteForm">
            {% csrf_token %}
            <input type="hidden" name="deleteInput">
        </form>

        <form action="{% url 'markCompleted' %}" method="post" name="completeForm">
            {% csrf_token %}
            <input type="hidden" name="completeInput">
        </form>

        
 
</div>
</div>
</div>
</div>
</div>
</div>

    </body>

</html>